@mixin styles {
  [data-show='true'] {
    opacity: 1 !important;
  }

  [data-show='false'] {
    opacity: 0;
    z-index: -1 !important;
  }

  [data-show] {
    transition: opacity 0.2s ease-in-out;
  }

  .milkdown-block-handle {
    cursor: pointer;
    justify-content: center;
    align-items: center;
    gap: 2px;
    transition: all 0.2s;
    display: flex;
    position: absolute;
  }

  .block-view {
    z-index: 1000;
    position: fixed;
    opacity: 0;

    .block-view-container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2px;

      img {
        cursor: pointer;
        border-radius: 6px;
        width: 20px;
        height: 20px;

        &:hover {
          background-color: #cbd5e1;
        }
      }
    }
  }

  .mblock-view {
    z-index: 1000;
    position: fixed;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;

    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      cursor: pointer;
      border-radius: 4px;
      width: 18px;
      height: 18px;

      &:hover {
        background-color: #cbd5e1;
      }
    }
  }

  .slash-menu-block-view {
    color: rgba($color: #000000, $alpha: 0.8);
    font-size: 14px;
    width: 120px;
    z-index: 1000;
    position: fixed;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    box-shadow: 0 0 10px 0 rgba($color: #000000, $alpha: 0.1);
    // padding: 10px;
    box-sizing: border-box;
    border-radius: 4px;

    left: 100px;
    top: 100px;
    overflow: hidden;

    & > {
      .content {
        svg {
          width: 16px;
          height: 16px;
        }

        .slash-view-content-item {
          display: flex;
          align-items: center;
          gap: 4px;
          cursor: pointer;
          background-color: #fff;
          padding: 6px;
          &:hover {
            background-color: #efebeb;
          }
        }

        .group {
          background-color: #fff;
          padding: 6px;
          .title {
            border-bottom: 1px solid rgba($color: #000000, $alpha: 0.08);
            margin-bottom: 10px;
            padding-bottom: 4px;
            display: flex;
            gap: 4px;
            align-items: center;

            .title-radios {
              overflow: hidden;
              cursor: pointer;
              border: rgba($color: #000000, $alpha: 0.08) solid 1px;
              border-radius: 10px;
              display: flex;
              font-size: 12px;
              justify-content: space-between;

              .title-radio {
                border-radius: 50%;
                height: 16px;
                width: 16px;
                display: flex;
                align-items: center;
                justify-content: center;
              }

              .active {
                background-color: #000000;
                color: white;
              }
            }
          }

          .items {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 6px;

            .item {
              box-sizing: border-box;
              font-size: 12px;
              cursor: pointer;
              border: 1px solid rgba($color: #000000, $alpha: 0.08);
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 4px;
              padding: 4px;

              &:hover {
                background-color: rgba($color: #000000, $alpha: 0.08);
              }
            }
          }
        }
      }
    }
  }

  .slash-menu-selection {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #fff;
    box-sizing: border-box;
    padding: 4px;

    .item {
      &:hover {
        background-color: #efebeb;
      }

      box-sizing: border-box;
      height: 100%;
      padding: 6px 2px;

      svg {
        height: 100%;
      }
    }
  }
}
